<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                          <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                          <!-- mis estilos! -->
    <link rel="stylesheet" href="../css/styles.css">
    <title>Autosolutions</title>
                      <!-- font-->
   <link href="https://fonts.googleapis.com/css?family=Cormorant:700&display=swap" rel="stylesheet">  
</head>
<body>

 <div class="container">
                <div class="row">
                  <div class="col">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th>idProducto</th>
                          <th>Armadora</th>
                          <th>Modelo</th>
                          <th>Año</th>
                          <th>Motor</th>
                          <th>Imagen</th>
                          <th>descripcion</th>
                          <th>modificar</th>

                        </tr>
                      </thead>
                      <tbody>
                          <% for (let product of products) { %>
                        <tr>
                          <th scope="row"> <%= product.idProducto %> </th>
                          <td><%= product.armadora %></td>
                          <td><%= product.modelo %></td>
                          <td><%= product.ano %></td>
                          <td><%= product.motor %></td>
                          <td><%= product.imagen %></td>
                          <td><%= product.descripcion %></td>
                          <td>
                            <a href="/update/<%= product._id %>" class="btn btn-success mx-2"><span class="icon-edit"></span></a>
                            <a href="/Eliminar/<%= product._id %>" class="btn btn-danger"><span class="icon-trash"></span></a>
                             <a href="/EliminarArmadora/<%= product.armadora %>" class="btn btn-darck"><span class="icon-trash"></span></a>

                          </td>

                        </tr>
                        <% } %>

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
         </div>
       </div>

            
                    
                     





</body>
</html>