<!DOCTYPE html>
<html lang="es">
  <head>
     <link rel="icon" type="image/png" href="../../images/LOGO_SIN_FONDO.PNG">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/estilos2.css">
    <link rel="stylesheet" href="icons/fonts/style.css">
    <title>todos los kits</title>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
          <div class=" menu container-fluid">
            <a class="navbar-brand js-scroll-trigger text-light" href="/"><img class="pl-3" src="../../images/pagina/logoFijo1.PNG" width="300"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto my-0 my-lg-0" style="font-size: 1.1em;">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger text-dark" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger text-dark" href="ejs/productos.html">Lineas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger text-dark text-bold" href="ejs/EncuentraTuProducto.html"style="">Encuentra tu producto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger text-dark" href="ejs/Historia.html">Quienes somos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger text-dark" href="ejs/ayuda.html">Diagnóstico</a>
                </li>

              </ul>
              <nav class="navbar navbar-light">
                <form class="form-inline" action="/productosArmadoras">
              <input class="form-control mr-sm-2" name="armadora" type="text" placeholder="buscar por armadoras" id="formulario" required>
              <button class=" btn btn-dark my-2 my-sm-0 mx-lg-2" type="submit"id="boton">buscar</button>
              </form>
              </nav>
            </div>
          </div>
        </nav>
        <br><br><br>
        <div class="container">
          <div class="row">
            <div class="col-12">
            <center>
             
              <h1 class="display-3 m-4 p-4 ">Todos nuestros kits de:<%=  %></h1>
              
            </center>
            </div>
          
          </div>
        
        </div>

          <div class="container">
               
                <div class="row">
                  
                   <% for (let product of products) { %>
                    <div class="card col-md-4">
                    
                      <h5 class="display-4 text-danger font-weight-bold text-capitalize"><%= product.armadora %> <%= product.modelo%> </h5><h1 class=" text-danger font-weight-bold text-uppercase"><%= product.motor%></h1>
                    
                      <p class="font-weight-bold">Obsevaciones: <%= product.descripcion%> <br>Año:<%= product.ano%></p>
                       <div class="card-body ">
                          <img class=" py-5 img-thumbnail" src=<%= product.imagen %> alt="Imagen no disponible :c">
                        </div>
                      
                      <h4 class=" text-darck text-uppercase font-weight-bold" style="color:#000;">SKU: <%= product.idProducto%></h4>         
                       
                    </div>
                    <% } %>
                  
                </div>
              </div>



  </body>
  </html>