<!DOCTYPE html>
<html lang="es">
  <head>
     <link rel="icon" type="image/png" href="../../images/LOGO_SIN_FONDO.PNG">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
    <!-- <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../css/estilos2.css">
    <link rel="stylesheet" href="../icons/fonts/style.css">
    <title>todos los kits</title>
                  <!-- font-->
   <link href="https://fonts.googleapis.com/css?family=Cormorant:700&display=swap" rel="stylesheet">
  </head>
  <body>
     <nav class="navbar navbar-expand-lg fixed-top " id="mainNav">
        <div class=" menu container-fluid">
          <a class="navbar-brand js-scroll-trigger text-light" href="/"><img class="pl-3" src="../../images/pagina/logoFijo1.PNG" width="300"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-0 my-lg-0" style="font-size: 1.1em;">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark text-bold" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="../ejs/productos.html">Lineas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="../ejs/EncuentraTuProducto.html">Encuentra tu producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger text-dark" href="../ejs/Historia.html">Quienes somos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger text-dark" href="../ejs/ayuda.html">Diagnóstico</a>
                </li>

            </ul>
            <nav class="navbar navbar-light">
              <form class="form-inline" action="/productosArmadoras">
              <input class="form-control " name="armadora" type="text" placeholder="buscar por armadoras" id="formulario" required>
              <button class=" btn btn-dark  my-sm-0 mx-lg-2" type="submit"id="boton">buscar</button>
              </form>
            </nav>
          </div>
        </div>
      </nav>
        <br><br><br>



        <div class="container">
          <div class="row">
            <div class="col-12">
            <center>
              <h1 class="display-3 m-4 p-4 ">Todos nuestros kits</h1>
            </center>
            </div>
          
          </div>
        
        </div>

        <div class="container">
          <div class="row p-5">
            <% for (var i = 0; i < productos.length; i++) {%>
              <div class="col-md-4">
                <div class="p-1">
                  <div class="card">
                    <h1 class="display-4 text-danger text-capitalize font-weight-bold text-center" style="color: #DF0101 !important;"><%= productos[i].armadora%></h1>
                    <h4 class="card-title text-center"><%= productos[i].modelo%></h4>
                    <img src="<%= productos[i].imagen%>" class="card-img-top" alt="Imagen no disponible">
                    <div class="card-body">
                      
                      
                      <p>Año: <%= productos[i].ano%></p>
                      <p>Motor: <%= productos[i].motor%></p>
                      <p>Descripcion: <%= productos[i].descripcion%></p>
                    </div>
                  </div>
                </div>
              </div>
            <%}%>
          </div>
          <div class="row">
            <% if(pages){%>
            <nav class="mx-auto">
              <ul class="pagination">
                  <% if(current == 1) {%>
                    <li class="page-item disabled">
                      <a href="#" class="page-link">First page</a>
                    </li>
                  <% } else {%>
                  <li class="page-item ">
                      <a href="/kits/1" class="page-link">First page</a>
                    </li>
                  <% } %>



                <% var i = (Number(current) > 5 ?  Number(current) - 4 : 1 )%>

                <% if(i !== 1) {%>
                  <a href="#" class="page-link">...</a>
                <% } %>
                <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if(i == current) { %>
                    <li class="page-item">
                        <a href="<%= i %>" class="page-link"><%= i %></a>
                    </li>
                  <% } else {%>
                  <li class="page-item">
                        <a href="/kits/<%= i %>" class="page-link"><%= i %></a>
                    </li>
                   <% }%>

                  <% if( i == Number(current) + 4 && i < pages) {%>
                    <li class="page-item">
                          <a href="#" class="page-link">...</a>
                      </li>
                  <%}%>
                <%}%>




                <% if(current == pages) { %>
                  <li class="page-item disabled">
                    <a href="#" class="page-link">Last page</a>
                  </li>
                <% } else {%>
                <li class="page-item ">
                    <a href="/kits/<%= pages%>" class="page-link">Last page</a>
                  </li>
                <% } %>
              </ul>
            </nav>

            <% }%>
          </div>
        </div>
  </body>
  </html>