<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
  <link rel="icon" type="image/png" href="../../images/LOGO_SIN_FONDO.PNG">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 ">
        <!-- mis estilos -->
    <link rel="stylesheet" href="../../css/index.css">
        <!-- link de bootstrap -->
    <!-- <link type="text/css" rel="stylesheet" href="../../public/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%# link iconos %>
    <link rel="stylesheet" href="../../icons/fonts/style.css">
    <title>Agregar Producto</title>
  </head>
  <body class="agragarProducto">
    <div class="conatiner">
      <div class="row">
        <div class="col-12">


             <br>
            <img class="pl-3" src="../../images/LOGO_SIN_FONDO.PNG" width="70">

            <center>
            <h2 class="text-uppercase display-4  pt-1  font-weight-bold" style="color: #C60707;">Skagen-clutch</h2>
            <hr class="divider my-3 ">
            </center>

          </div>
          </div>
          </div>
        <div class="container">
          <div class="col-12">
            <form action="/productosPorId" method="GET">
            <label class="text-bold">Busca por id </label>
              <input type="text" name="idProducto" class="form-control inputs border border-top-0 border-right-0 border-left-0 " > <br><br>
            </form>
          </div>
        
        </div>



      <div class="conatiner">
        <div class="row">
          <!-- formulario -->
          <div class="col-md-4">
            <div class=" formulario-agregar card ml-3">
              <div class="card-body">
                <center>
                  <p class="display-4">Agragar producto</p>
                </center>
                
                <br>
                 <!-- <form class="ml-3"  action="/addproduct"  method="POST"> -->

                   <form class="ml-3"  action="/agregarProducto"  method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="" class="text-bold">Armadora</label><br>
                    <input type="text" name="armadora" class=" agregarP form-control inputs border border-top-0 border-right-0 border-left-0 " id="armadora" placeholder="Nombre de la armadora">
                  </div>
                  <div class="form-group">
                    <label for="" class="text-bold">Modelo</label><br>
                    <input type="text" name="modelo" class=" agregarP form-control inputs border border-top-0 border-right-0 border-left-0 " id="modelo" placeholder="Modelo del auto">
                  </div>
                  <div class="form-group">
                    <label for="" class="text-bold">Año</label><br>
                    <input type="text" name="ano" class=" agregarP form-control inputs border border-top-0 border-right-0 border-left-0 " id="ano" placeholder="Año">
                  </div>
                  <div class="form-group">
                    <label for="" class="text-bold">Motor</label><br>
                    <input type="text" name="motor" class=" agregarP form-control inputs border border-top-0 border-right-0 border-left-0 " id="motor" placeholder="Modelo de tu motor">
                  </div>
                  <div class="form-group">
                    <label for="" class="text-bold">Descripcion</label><br>
                    <input type="text" name="descripcion" class=" agregarP form-control inputs border border-top-0 border-right-0 border-left-0 " id="descripcion" placeholder="Agrege una descripcion">
                  </div>
                    <div class="form-group">
                      <label for="" class="text-bold">id</label><br>
                      <input type="text" name="idProducto" class=" agregarP form-control inputs border border-top-0 border-right-0 border-left-0 " id="idProducto" placeholder="Agrege el id">
                    </div>
                    <div class="form-group">
                    <label for="" class="text-bold">Agrege imagen</label><br>
                    <input type="file" name="imagen" class="" id="imagen" placeholder="Agrege imagen "><br><br>
                    <%# <span class="icon-download" type="submit" class="btn btn-block btn-primary"></span> %>

                    <input type="submit" class="btn btn-block btn-primary inputs" value="Guardar">
                  </div>

                </form>

              <!-- TABLA DE RESULTADOS -->
            </div>
          </div>
        </div>
              <div class="col-md-8 float-left">




              <div class="container">
                <div class="row">
                  <div class="col">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th>idProducto</th>
                          <th>Armadora</th>
                          <th>Modelo</th>
                          <th>Año</th>
                          <th>Motor</th>
                          <th>Imagen</th>
                          <th>descripcion</th>
                          <th>modificar</th>

                        </tr>
                      </thead>
                      <tbody>
                          <% for (let product of products) { %>
                        <tr>
                          <th scope="row"> <%= product.idProducto %> </th>
                          <td><%= product.armadora %></td>
                          <td><%= product.modelo %></td>
                          <td><%= product.ano %></td>
                          <td><%= product.motor %></td>
                          <td><%= product.imagen %></td>
                          <td><%= product.descripcion %></td>
                          <td>
                            <a href="/update/<%= product._id %>" class="btn btn-info mx-2"><span class="icon-edit"></span></a>
                            <a href="/Eliminar/<%= product._id %>" class="btn btn-danger"><span class="icon-trash"></span></a>
                             <a href="/EliminarArmadora/<%= product.armadora %>" class="btn btn-darck"><span class="icon-trash"></span></a>

                          </td>

                        </tr>
                        <% } %>

                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
         </div>
       </div>
       <br>
       <br>





    <script src="../../js/jquery-3.3.1.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../js/popper.min.js" ></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
